h1 {
	text-align: center;
}
a {
	text-align: center;
}
body {
	margin:0;
	padding:0;
}
.btn1{
	border: 1px solid #3498db;
	background:none;
	padding: 10px 20px;
	font-size:20px;
	cursor:pointer;
	margin:10px;
	transition: 0.8s;
	text-shadow: transparent;
}
body {
 background-image: url(background.jpg);
 background-size:cover;
}